
body {
    background: #34495e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    margin: 20px;
}

.center-horizontally {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.content {
    margin: auto;
    width: 50%;
    border-radius: 5px;
    top: 40px;
    position: relative;
    color: #fff;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 2s steps(20),
    blink-caret 2s;
}

.button {
    display: block;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}