<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Speech recognizer</title>
    <link rel="stylesheet" th:href="@{../css/main.css}" type="text/css"/>

</head>
<body>
<div class="content">
    <div>
        <h1>Speech recognizer</h1>
    </div>
    <div>
        <p>
            <a th:class="button" th:href="voiceInput">
                Recognize from microphone input.
            </a>
        </p>
    </div>
</div>


</body>
</html>